:root {
    --main-bg-color: rgba(207, 209, 207, 0.822);
    --main-font-color: rgb(3, 38, 58);
    --dark-bg-color: rgba(22, 8, 8, 0.933);
    --dark-font-color: #9b9898;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.flexDisp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
}

.darkBgColor {
    background-color: var(--dark-bg-color);
    transition: background-color 0.5s ease-in;
    color: var(--main-bg-color);

}


.container {
    width: 100%;
    height: calc(100vh - 20px);

    text-align: center;
    position: relative;
}

.guideToggle {
    width: 100%;
    height: 60px;
}

.switchToggle {
    position: absolute;
    right: 0;
    top: 0.8em;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.inputCssBtn {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #7a7a7a;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(255, 255, 255);
    -webkit-transition: .4s;
    transition: .4s;
}


.inputCssBtn:checked+.slider {
    background-color: #023f6d;

}



.inputCssBtn:checked+.slider:before {
    background-color: rgb(27, 1, 1);
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* FIM Rounded sliders */

.mainTitle {
    margin-top: 2em;
    margin-bottom: 2em;
}

.mainTitle .title {
    font-size: 3em;
    font-weight: 100;
}

.mainTitle .subtitle {
    font-size: 0.8em;
    font-weight: 100;
}

.infoSubtitle {
    font-weight: 400;
}


.inputTextField {
    position: relative;
    width: 80%;
    height: 55px;
    margin-bottom: 20px;

}

.inputCss {
    width: 100%;
    padding: 0.3em;
    font-size: 1.1em;
    border: none;
    outline: 1px solid;
    border-radius: 5px;
    background-color: rgba(225, 229, 233, 0.733);
    margin-bottom: 0.3em;
}

.spanError {
    position: absolute;
    bottom: 0;
    background-color: rgb(236, 15, 15);
    display: none;
    width: 50%;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    font-weight: 900;
    font-size: 1.4em;
    font-family: monospace;
}

.formatResult {
    width: 90%;
    background-color: #ccc;
}


.insertResultado {
    margin-bottom: 2em;
    height: max-content;
    padding: 0.6em 0;
}


.copiadoParaTransferencia {
    text-transform: uppercase;
    text-shadow: 0 0 15px rgb(0, 20, 3), 0 2px 10px rgb(253, 247, 244);
    /* color: rgb(0, 0, 0); */
    display: none;

}

.footer {
    background-color: var(--main-bg-color);
    text-align: center;
}




.btn {
    color: #361414;
    background-color: #6e9fec;
    cursor: pointer;
    font-size: 0.8em;
    font-weight: 400;
    line-height: 45px;
    margin: 0 auto 2em;
    text-transform: uppercase;
    padding: 0.2em 0.5em;
    border-radius: 0.7em;
    border: none;

}

.btn:hover {
    transition: 0.5s;
    border-radius: 1em;
    color: azure;
    outline: 1px solid;
    background: linear-gradient(267deg, #5b83c4, #c6cbd3, rgb(47, 92, 189));
    background-size: 600% 600%;

    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}

.btn:active {
    transform: scale(0.95);

}

@keyframes AnimationName {
    0% {
        background-position: 0% 53%
    }

    50% {
        background-position: 100% 48%
    }

    100% {
        background-position: 0% 53%
    }
}